<p>Ask anything with your coach here</p>
<div class="coach">
<form action="/answer" method="get">
  <input class="question" required="true" type="text" name="ask" placeholder="Ask to the coach here!">
  <input class="answer" type="submit" value="Ask the coach!">
</form>
</div>
